@font-face {
  font-family: "NotoSerifJP-Regular";
  font-display: swap;
  src: url("../fonts/Noto_Serif_JP/NotoSerifJP-Regular.otf") format("opentype");
}
@font-face {
  font-family: "NotoSerifJP-Bold";
  font-display: swap;
  src: url("../fonts/Noto_Serif_JP/NotoSerifJP-Bold.otf") format("opentype");
}